.div-personalizada {

    height: 94vh;

    background-color: #221E2F;

    background-image: url('./capa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: relative;

}
